@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  font-family: "Roboto", sans-serif!important;
}

.main-color{
  color: #2f2d72;
}
.main-button{
  background: #2f2d72!important;
  color: white!important;
}
.w-100{
  width: 100%;
}
.v-picker__title{
  color: #ea4b4b!important;
}
.v-btn::before{color: black!important;}
.v-btn__content {color: black!important;}
.theme--light.v-calendar-events .v-event-timed{background-color: azure;padding: 10px}
.v-calendar .v-event-summary{font-size: 18px}
